*.code-workspace
*.pyc
__pycache__/
*.egg-info/
.ipynb_checkpoints/
/src/jupyter/
/data/
/docs/
/.vscode/
/.venv/
/.pytest_cache/
/.pytest_cache/
/.eggs/
*.csv
*_pre_accu
/src/pre_accu
/src/iwsn/data
.DS_Store
