*.code-workspace
*.pyc
__pycache__/
*.egg-info/
.ipynb_checkpoints/
/src/jupyter/
/data/
/docs/
/build/
/dist/
/.vscode/
/.venv/
/.pytest_cache/
/.pytest_cache/
/.eggs/
*.csv
*_pre_accu
/src/pre_accu
/src/iwsn/images
/src/iwsn/data
.DS_Store
*.zip
*.bbl
*.aux
*.blg
*.out
*.log
*.gz